.indicator_box {
    display: flex;
    width: 393px;
    height: 34px;
    padding: 21px 129px 8px 130px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    position: absolute;
    bottom: calc(0%);
}

.indicator {
    background-image: url("./img/Indicator.png");
    background-repeat: no-repeat;
    width: 134px;
    height: 5px;
    border-radius: 100px;
}