.link {
    margin: 20px 20px 0 20px;
    color: #1D1D1F;
    font-size: 14px;
    font-weight: 400;
    
}

.button_link {
    color: #775CE5;
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: underline;
    margin-left: 5px;
}