.block {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 20px;

    &-big{
        margin: 50px;
    }
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-align: center;

    &-big {
        font-size: 42px;
        font-weight: 600;
        color: white;
        text-align: center;
    }
}

.subTitle {
    font-size: 14px;
    font-weight: 400;
    color: #939199;
    text-align: center;

    &-big {
        font-size: 20px;
        font-weight: 400;
        color: white;
        text-align: center;
    }
}

