.time {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.408px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.color_white {
    color: white;
}

.color_dark {
    color: black;
}